<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>Rastgele Kart</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <div class="h1">
    <h1 class="h1">Biliyor Muydunuz?</h1>
  </div>
    <form action="/ny" method="get">
      <button class="button">Neler Yapabilirsiniz?</button>
    </form>
  <div class="card">
    <img class="card__img" src="..\static\img\snf.png" width="250" height="250" alt="post_icon">
    <h2 class="card__title">{{ card_title }}</h2>  
    <form action="/" method="get">
      <button class="form__button" >Kart çek</button>
    </form>
  </div>
</body>
</html>