
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neler Yapabilirsiniz?</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header class="header">-İklim Değişikliğini Önlemek için Neler Yapabilirsiniz?-</header>
    <h1 class="h1-2">✶Enerji verimliliği Sağlamak</h1>
    <p class="p">✷Enerji tasarruflu cihazlar kullanmak</p>
    <p class="p-2">✷Kullanmadığınız lambaları kapatmak</p>
    <p class="p-3">✷Gün ışığını aydınlatma olarak kullanmak</p>
    <p class="p-4">✷Kullanmadığınız cihazların fişini çekmek</p>
    <h1 class="h1-3">✶Ormanları ve doğayı korumak</h1>
    <p class="p-5">✷Kağıt Tüketimini Azaltmak</p>
    <p class="p-6">✷Kamp veya piknik sonrası her şeyi geride bırakmadan toplamak</p>
    <p class="p-7">✷Naylon poşetler yerine bez çanta kullanmak </p>
    <p class="p-8">✷Geri dönüşümü desteklemek</p>
    <h1 class="h1-4">✶Çevre Dostu Ulaşım Kullanmak</h1>
    <p class="p-9">✷Toplu taşıma kullanmak</p>
    <p class="p-10">✷bisiklet sürmek ve yürümek</p>
    <p class="p-11">✷Elektrikli araçlara yönelmek </p>
    <p class="p-12">✷Kısa mesafelerde araba kullanmamak</p>
    <h1 class="h1-5">✶Geri Dönüşüm Yapmak</h1>
    <p class="p-13">✷Tek kullanımlık ürünleri Azaltmak</p>
    <p class="p-14">✷Atıklarınızı evde ayırmak</p>
    <p class="p-15">✷Pilleri pil atık kutularına atmak</p>
    <p class="p-16">✷Yeniden Kullanılabilir Ürünler Kullanmak</p>
    
    <form action="/" method="get">
        <button class="button-geri">Geri dön</button>
      </form>
    <img class="gd-img" src="..\static\img\gdl.png" width="250" height="250" alt="post_icon" style="position: relative; top: -80px; margin-left: -90px;">

</body>
</html>